<% if signed_in? %>
<ul class = 'nav'>
  <li><%= "Hello, " + current_user.first + "." %></li>
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "About", about_path %></li>
  <li><%= link_to "Sign Out", '/users/sign_out', method: "delete" %></li>
</ul>
<% else %>
<ul class = 'nav'>
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "About", about_path %></li>
  <li><%= link_to "Sign Up", '/users/sign_up' %></li>
  <li><%= link_to "Sign In", '/users/sign_in' %></li>
</ul>
<% end %>
