<h1>Posts in Your Area:</h1>

<% @posts.each do |post| %>
<div class='postlist'>

  <div class='post_user'>
    <%= "#{post.user.first}:"  %>
  </div>

  <div class='post_category'>
    <%= post.category %>
  </div>

  <div class='post_body'>
    <%= post.body %>
  </div>

  <div class='post_address'>
    <%= post.address %>
  </div>

  <div class='post_votes_count'>
    <%= post.votes.count %>
  </div>

  <button class= 'comment_toggle_button'>Toggle Comments</button>
  <div class='commenttoggle'>
    <% if post.comments.any? %>
    <p>Comments:</p>
      <% post.comments.each do |comment| %>
        <%= "#{comment.user.first} " + "#{comment.user.last}" %><br>
        <%= comment.body %><br><br>
      <% end
         end %>
    <p>Add a Comment:</p>
      <%= render partial: '/comments/form', locals: {
        comment: post.comments.build
      } %>
  </div>
</div>
<hr>
<% end %>
