<div class='postlist'>

<div class='general_area_post'>

  <h1>Write a General Area Post</h1>

  <%= render partial: 'new' %>

</div>

<hr>

<h1 class='posts_index'>Posts in Your Area:</h1>

<%= form_tag posts_path, :method => 'get', :id => "posts_search" do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder: 'Search posts in your area' %>
    <%= submit_tag "Search", :name => nil, class: 'button tiny radius' %>
  </p>
  <div id="posts"><%= render 'posts' %></div>
<% end %>

</div>
